:root{
   --Drk-Red: #6B0000;
   --Drk-Blu: #1D1F21;
   --Drk-Gry: #F8F8F8;

   --Drk-Text: #060D15;
   --White: #FFF;

   --Abt-clr: #350000;

   --Poppins: "Poppins", sans-serif;
   --Inria-Serif: "Inria Serif", serif;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: var(--Drk-Text);
   font-family: var(--Poppins);
   
}
.main-job-page{
   max-width: 1440px;
   margin: 0 auto;
   padding: 5rem 3rem;
}

.job-name{
   font-size: 2.3rem;
   font-family: var(--Inria-Serif);
   font-weight: 700;
   font-style: italic;
   line-height: 30px;
   margin-bottom: 10px;
}
.job-creator{
   font-size: 14px;
   font-family: var(--Inria-Serif);
   font-style: italic;
   font-weight: 700;
}
.red-text{
   color: var(--Drk-Red);
   font-family: var(--Inria-Serif);
   font-weight: 900;
   margin-left: 10px;
}
.job-role-holder{
   margin-left: 15px;
}
.jb-rl-tx{
   color: var(--Drk-Red);
   font-weight: 700;
   font-size: 17px;
   font-family: var(--Inria-Serif);
   margin: 1rem 0;
}
.job-role{
   font-size: 14px;
   max-width: 1000px;
   line-height: 25px;
   text-align: justify;
}


.job-req-title{
   font-size: 1.4rem;
   font-family: var(--Inria-Serif);
   font-weight: 700;
   
   margin: 2.5rem 0 .4rem 0;
}
.job-req-text{
   font-size: 14px;
   line-height: 25px;
   max-width: 1000px;
   margin-left: 15px;
   text-align: justify;
   margin-top: 1.6rem;
}
@media screen and (max-width: 580px) {
   .main-job-page{
      padding: 4rem 1.4rem;
   }
   .job-role-holder, .job-req-text{
      margin-left: 0px;
   }
}
@media screen and (max-width: 450px) {
   .job-name{
      font-size: 1.8rem;
   }
}
